<%= render partial: "rooms/navigation_menu" %>

<div class="main__user-profile">

  <%= render partial: "users/user-profile__left", locals: { user: @user } %>

  <div class="user-question-contents">

    <div class="content">
      <div class="index">
        <div class="index__game_tag">
          <span class="index-name__bookmark"><%= "好きなゲーム" %></span>
        </div>
        <div class="index__triangle"></div>
      </div>
      <div class="room-name">
        <div class="game_tag__space">
          <% Bookmark.where(user_id: @user.id).each do |game| %>
            <div class="game_tag">
              <%= game.game_tag.game_title %>
              <%= link_to '×', user_bookmark_path(user_id: current_user.id, id: game.id), method: :delete, class: "game-tag__delete" %>
            </div>
          <% end %>
          <div class="game_tag__registration__hover-action">
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="index">
        <div class="index__game_tag">
          <span class="bookmark-action-title"><%= "ゲームを登録する" %></span>
        </div>
        <div class="index__triangle"></div>
      </div>
      <div class="room-name">
        <%= form_with model: @bookmark, url: user_bookmarks_path(current_user), method: :post, local: true do |f|  %>
          <div class="game-tag__form-space">
            <div class="game-tag__choose-space">
              <select name="bookmark[game_tag_id]" , class="game-tag__choose"> 
                <option value=""hidden disabled selected></option>
                <% GameTag.all.where.not(id: @bookmarked_game_tags).each do |tag| %> <%#同じゲームはお気に入り登録できない！%>
                    <option value=<%=tag.id%>><%= tag.game_title %></option>
                <% end %>
              </select>
            </div>
            <div class="game-tag__hover-action hover-action">
              <label for="bookmark-btn", class='gift-btn__normal game-tag__submit-btn__normal btn__normal'>登録</label>
              <%= f.submit value="登録", class: 'game-tag__submit-btn__hover btn__hover', id:"bookmark-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>