<% if @room.messages.size == 0 %>
    <a href="#"><%= "[質問タイトル]#{@room.question_title}"%></a>
    <%= form_with model: [@room, @message], local: true do |f|%>
        <%= f.text_field :content, placeholder: 'type a message' %>
        <%= f.submit '送信!' %>
    <% end %>
<% elsif @room.messages.size == 1 %>
    <a href="#"><%= "[質問タイトル]#{@room.question_title}"%></a>
    <p><%= "[質問文][#{@room.messages[0].user.nickname}]#{@room.messages[0].content}"%></p>
    <%= form_with model: [@room, @message], local: true do |f|%>
        <%= f.text_field :content, placeholder: 'type a message' %>
        <%= f.submit '回答する!' %>
    <% end %>
<% end %>