<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">
  <%= render partial: "users/user-profile__left", locals: { user: @user } %>

  <div class="main-contents">
    <div class="content">
      <div class="index">
        <div class="index-tag">
          <span class="action-title"><%= "プロフィールを変更" %></span>
        </div>
        <div class="index-decoration"></div>
      </div>
      <div class="room-name">
        <div class="question-space">
          <%= form_with(url: user_profile_path(current_user), model: @profile, local: true, method: :patch) do |f| %>
            <div class="user-profile-edit-form">
              <div class="click-upload">
                <div id="image-list">
                  <% profile = @profile %>
                  <% if profile %>
                    <% if profile.image? %>
                      <%= image_tag(profile.image.url, size: "100x100", id:"before_image")%> 
                    <% else %> 
                      <%= image_tag "/assets/default.jpg", :size => '100x100', id:"before_image" %> 
                    <% end %>
                  <% end %>
                </div>
                <label for="profile-image", class="image-label">画像を選択
                  <%= f.file_field :image, id:"profile-image", class:"image-file" %>
                </label>
              </div>

              <div class="user-nickname__space">
                <span class="user-nickname__display"><%= current_user.nickname %></span>
                <div class="user-nickname-edit__hover-action">
                  <% unless current_user.email == "test_user@test.com" %>
                    <%= link_to "編集する", edit_user_path(current_user), class:"user-nickname-edit__hover" %>
                  <% end %>
                </div>
              </div>

              <div class="link-to-sns__space">
                <label for="user-profile-SNS", class="link-to-sns">SNS</label>
                <div>
                  <%= f.text_field :link_to_sns, class: 'form-message', placeholder: 'https://', id:"user-profile-SNS"%>
                </div>
              </div>

              <div class="link-to-webcast__space">
                <label for="user-profile-webcast", class="link-to-webcast">配信サイト</label>
                <div>
                  <%= f.text_field :link_to_webcast, class: 'form-message', placeholder: 'https://', id:"user-profile-webcast"%>
                </div>
              </div>

              <div class="link-to-introduction__space">
                <label for="user-profile-self-introduction", class="self-introduction">自己紹介</label>
                <div>
                  <%= f.text_area :self_introduction, class: 'form-text-area', id:"user-profile-self-introduction"%>
                </div>
              </div>

              <div class="user-edit__hover-action hover-action">
                <span class='user-edit__normal btn__normal'>更新</span>
                <span><%= f.submit '更新', class: 'user-edit__hover btn__hover' %></span>
              </div>

              <div class="user-nickname-edit__hover-action">
                <% unless current_user.email == "test_user@test.com" %>
                  <%= link_to "メールアドレスを変更", edit_user_path(current_user), class:"user-nickname-edit__hover" %>
                <% end %>
              </div>
            
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

