プロフィールを新しく設定する
<%= form_with(url: user_profiles_path(current_user), model: @profile, local: true, method: :post) do |f| %>
  <div class="form-input">
    <div class="click-upload">
      <div id="image-list"></div>
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id:"profile-image" %>
    </div>
    <%= f.text_field :link_to_sns, class: 'form-message', placeholder: 'SNSのURLを貼ってね！' %>
    <%= f.text_field :link_to_webcast, class: 'form-message', placeholder: '配信しているサイトのURLを貼ってね！' %>
  </div>
  <%= f.text_area :self_introduction, placeholder: '自由に自己紹介してね！' %>
  <%= f.submit '登録する', class: 'form-submit' %>
<% end %>