<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="main-content">
  <div class="icons-space">
    <%= link_to user_path(visitor) do %>
      <% profile = visitor.profile %>
      <% if profile %>
        <% if profile.image? %>
          <%= image_tag(profile.image.thumb50.url, class: "question-user-icon")%>
        <% end %>
      <% else %>
        <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
      <% end %>
    <% end %>
  </div>
  <div class="question-texts">
    <div class="question-nickname">
      <%= "#{visitor.nickname}さんが、" %>
      <% case notification.action %>
      <% when 'follow' then %>
        <%= "あなたをフォローしました" %>
      <% when 'gift' then %>
        <%= "あなたにギフトを送りました" %>
      <% when 'like' then %>
        <%= 'あなたの投稿にいいねしました' %>
      <% when 'message' then %>
        <% if Room.find(notification.room_id).messages.size == 1 %>
          <%= 'あなた宛てに質問しました' %>
        <% else %>
          <%= 'あなた宛てに回答しました' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="margin-space">
</div>
