<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">
  <%= render partial: "users/user-profile__left", locals: { user: @user } %>
  <div class="main-contents">
    <div class="content">
      <div class="index">
        <div class="index-tag">
          <span class="index-name"><%= "通知一覧" %></span>
        </div>
        <div class="index-decoration"></div>
      </div>
      <div class="room-name">
        <div class="question-space">
          <% if @notifications != nil %>
          <% @notifications.each do |notification| %>
            <%= render partial: "notifications/notification", locals: { notification: notification } %>
          <% end %>
          <%= paginate @notifications %>
          <% else %>
            <%= "通知はありません" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>