<div class="question-lists">
  <div class="icons-space">
    <%= link_to user_path(user) do %>
      <% unless user.profile == nil %>
        <% if user.profile.image? %>
          <%= image_tag(user.profile.image.thumb50.url, class: "question-user-icon")%>
        <% end %>
      <% else %>
        <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
      <% end %>
    <% end %>
  </div>
        
  <div class="question-message-set">
    <div class="question-user-nickname">
      <%= "#{user.nickname}さん" %>
    </div>

    <div class="question-sentence">
      <div class="question-sentence-message">
        <% unless user.profile == nil %>
          <% if user.profile.self_introduction? %>
            <span class="self_introduction"><%= safe_join(user.profile.self_introduction.split("\n"),tag(:br))%></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>