<div class='chat-room-form'>
  <h1>好きなゲームをお気に入り登録する！</h1>
  <%=form_with model: @bookmark, local: true do |f|%>
  <%# <%= render 'shared/error_messages', model: f.object %>  

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_回答して欲しい人'>好きなゲーム</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]"> <%#ここを変更する！%>
          <option value="">好きなゲームを選んでね！</option>
          <% GameTag.all.each do |tag| %>
             <option value=<%=tag.id%>><%= tag.game_title %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit value="I like!!", class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>