<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">
  <%= render partial: "users/user-profile__left", locals: { user: current_user } %>

  <div class="main-contents">
    <div class="content">
      <div class="index">
        <div class="index-tag">
          <span class="action-title"><%= "プロフィールを変更" %></span>
        </div>
        <div class="index-decoration"></div>
      </div>
      <div class="room-name">
        <div class="question-space">
          <%= form_with model: current_user, local: true do |f|%>
            <div class="user-profile-edit-form">
              <div class="click-upload">
                <div id="image-list">
                  <% unless current_user.profile == nil %>
                    <% if current_user.profile.image? %>
                      <%= image_tag(current_user.profile.image.url, size: "100x100", id:"before_image")%> 
                    <% else %> 
                      <%= image_tag "/assets/default.jpg", :size => '100x100', id:"before_image" %> 
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="user-nickname__space">
                <span class="user-nickname__display"><%= current_user.nickname %></span>

              </div>

              <div class="link-to-sns__space">
                <div class="link-to-sns"><%= "ニックネーム" %></div>
                <div><%= f.text_field :nickname, autofocus: true, class: 'form-message'%></div>
              </div>
            
              <div class="link-to-sns__space">
                <div class="link-to-sns"><%= "メールアドレス" %></div>
                <div><%= f.email_field :email, class: 'form-message'%></div>
              </div>

              <div class="user-edit__hover-action">
                <span class='user-edit__normal'>更新</span>
                <span><%= f.submit '更新', class: 'user-edit__hover' %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
