<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">

  <%= render partial: "user-profile__left", locals: { user: @user } %>

  <div class="main-contents">
    <div class="content">
      <div class="index">
        <div class="index-tag">
          <span class="action-title"><%= "フォロワー" %></span>
        </div>
        <div class="index-decoration"></div>
      </div>
      <div class="room-name">
        <div class="question-space">
          <% @all_following.each do |following| %>
            <%= render partial: "related_to_follow", locals: { user: following } %>
          <% end %>
          <%= paginate @all_following %>
        </div>
      </div>
    </div>
  </div>
</div>