<%= render partial: "rooms/navigation_menu" %>

<div class="main__user-profile">

  <%= render partial: "user-profile__left", locals: { user: @user } %>

  <div class="user-question-contents">
  
     <div class="content">
      <div class="index">
        <div class="index__game_tag">
          <span class="index-name__bookmark"><%= "好きなゲーム" %></span>
        </div>
        <div class="index__triangle"></div>
      </div>
      <div class="room-name">
        <div class="game_tag__space">
          <% Bookmark.where(user_id: @user.id).each do |game| %>
            <div class="game_tag">
              <%= game.game_tag.game_title %>
            </div>
          <% end %>

          <% if user_signed_in? && current_user == @user %>
            <div class="game_tag__registration__hover-action">
              <%= link_to "ゲームを登録する", user_bookmarks_path(current_user), class: 'game_tag__registration' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= "#{@user.nickname}さんが回答した質問" %>
    <% @questions.each do |question| %>
          <%= render partial: "rooms/user_show_questions", locals: { question: question } %>
    <% end %>
    <%= paginate @questions %>

    <% if  current_user == @user %>
      <%= "自分の質問" %>
    <% else %>
      <%= "#{@user.nickname}さんの質問" %>
    <% end%>
    <% @questions_of_this_user_is_questioner.each do |question| %>
          <%= render partial: "rooms/user_show_questions", locals: { question: question } %>
    <% end %>
    <%= paginate @questions_of_this_user_is_questioner %>
  </div>
</div>