<%= render partial: "rooms/navigation_menu" %>

<div class="main__user-profile">

  <%= render partial: "user-profile__left", locals: { user: @user } %>

  <div class="user-question-contents">
    <div class="user-bookmark">
    <% Bookmark.where(user_id: @user.id).each do |game| %>
      <p><%= game.game_tag.game_title %></p>
    <% end %>
    <%= link_to "好きなゲームをお気に入り登録する", bookmark_user_path(current_user) %>
    </div>

    <%= "#{@user.nickname}さんが回答した質問" %>
    <% @questions.each do |question| %>
          <%= render partial: "rooms/questions_related_to_current_user", locals: { question: question } %>
    <% end %>
    
    <% if user_signed_in? && current_user != @user %>
      <%= render partial: "question" %>
    <% end %>
    <div id="list">
    </div>

  </div>
</div>