<%= render "shared/second-header"%>
<%= "#{@user.nickname}の詳細ページ" %>
<%= link_to "ユーザー情報を編集する", edit_user_path(current_user) %>
<p>--ブックマークしたゲーム--</p>
<% @bookmarked_games.each do |game| %>
  <p><%= game.game_tag.game_title %></p>
<% end %>
<p>--フォローした人--</p>
<% current_user.followings.each do |following| %>
  <p><%= following.nickname %></p>
<% end %>
<p>--フォローしてくれてる人--</p>
<% current_user.followers.each do |follower| %>
  <p><%= follower.nickname %></p>
<% end %>
<%= link_to "好きなゲームをお気に入り登録する", bookmark_user_path(current_user) %>
<div class="gift-action">
  <div class="gift-action-title">
    <p>自分がしたギフト</p>
  </div>
  <% check = 0 %>
  <% @giftings.each do |gift| %>
    <div class="gift">
      <p><%= "#{@receivers[check].nickname}に#{gift.price}円をギフトした！" %></p>
      <% check += 1 %>
    </div>
  <% end %>
</div>
<div class="gift-action">
  <div class="gift-action-title">
    <p>自分に送られたギフト</p>
  </div>
  <% check = 0 %>
  <% @receivings.each do |gift| %> 
    <div class="gift">
      <p><%= "#{@givers[check].nickname}から#{gift.price}円をギフトされた！感謝します！" %></p>
      <% check += 1 %>
    </div>
  <% end %> 
</div> 