<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">
  <%= render partial: "users/user-profile__left", locals: { user: @user } %>
  <div class="user-question-contents">
    <div class="content">
      <div class="index">
        <div class="index__game_tag">
          <span class="bookmark-action-title"><%= "ギフトする" %></span>
        </div>
        <div class="index__triangle"></div>
      </div>
      <div class="room-name">
        <div class="gift-form__space">

        <div class="qiita-test">
          <div class="qiita-test-sub">
          <%# binding.pry %>
          <% unless current_user.profile == nil %>
            <% if current_user.profile.image? %>
              <%= image_tag(current_user.profile.image.thumb100.url, class: "user-profile-icon") %>
            <% else %>
              <%= image_tag "default.jpg", class: "user-profile-icon" %>
            <% end %>
          <% end %>

            <div class="user-nickmane__space">
              <span class="user-nickname"><%= "#{current_user.nickname}さん" %></span>
            </div>
          </div>

          <div class="qiita-test-present animate__animated animate__backInLeft">
            <div><%= image_tag "present-icon.png", class: "qiita-test-present-icon" %></div>
          </div>

          <div class="qiita-test-sub">
            <% unless @reciver.profile == nil %>
              <% if @reciver.profile.image? %>
                <%= image_tag(@reciver.profile.image.thumb100.url, class: "user-profile-icon") %>
              <% else %>
                <%= image_tag "default.jpg", class: "user-profile-icon" %>
              <% end %>
            <% end %>
            <div class="user-nickmane__space">
              <span class="user-nickname"><%= "#{@reciver.nickname}さん" %></span>
            </div>
          </div>
        </div>

          <%= form_with model: [@reciver, @gift], url: user_gifts_path, method: :post, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f|  %>
            <%= render 'shared/error_messages', model: f.object %>
            <div class="gift-form__content">
              <div class='gift-form-text__price-space'>
                <label class="gift-form-text">ギフトする金額</label>
              </div>
              <span><%= f.text_field :price, class:"input-default", id:"postal-code" %></span>
            </div>
            
            <div class="card-info">
              <span>カード情報</span>
            </div>
            <div class="gift-form__content">
              <div class='gift-form-text__card-space'>
                <label class="gift-form-text">カード番号</label>
              </div>
              <span>
                <%= f.text_field :number, class:"input-default", id:"card-number", maxlength:"16" %>
                <div class='available-card'>
                  <%= image_tag 'card-visa.gif', class: 'card-logo'%>
                  <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
                  <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
                  <%= image_tag 'card-amex.gif', class: 'card-logo'%>
                </div>
              </span>
            </div>

            <div class="gift-form__content">
              <div class='gift-form-text__expiration-date-space'>
                <label class="gift-form-text">有効期限</label>
              </div>
              <div class='gift-form_expiration_date__space'>
                <%= f.text_field :exp_month, class:"input-expiration-month", id:"card-exp-month" %>
                <p>月</p>
                <%= f.text_field :exp_year, class:"input-expiration-year", id:"card-exp-year" %>
                <p>年</p>
              </div>
            </div>

            <div class="gift-form__content">
              <div class='gift-form-text__cvc-space'>
                <label class="gift-form-text">セキュリティコード</label>
              </div>
              <span><%= f.text_field :cvc,class:"input-default-cvc", id:"card-cvc", maxlength:"4" %></span>
            </div>

            <div class="confirmation-of-gift__hover-action">
              <label for="gifting-btn", class='confirmation-btn-of-gift__normal'>ギフトを確定</label>
              <%= f.submit "ギフトを確定" ,class:"confirmation-btn-of-gift__hover", id:"gifting-btn" %>
            </div>

            <div class="test-gift__hover-action">
              <label for="gifting-btn", class='test-btn-of-gift__normal'>簡単ギフト</label>
              <%= link_to '簡単ギフト', testgifting_user_path(@reciver), method: :post, class:"test-btn-of-gift__hover" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

