<div class="header-line">
  <header>
    <div class="header-left">
      <%= link_to root_path, class: "link-to__top-page" do %>
        <div class="app-name">Trace</div>
      <% end %>
    </div>
  </header>
</div>

<div class="user-session__space">
  <div class="login__space">
    ログイン
  </div>

  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
    <%= devise_error_messages!%>

    <label for="user-email", class="email-name__space">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, class:"email__space", id:"user-email"%>

    <label for="user-password", class="email-name__space">パスワード</label>
    <%= f.password_field :password, autocomplete: "off", class:"email__space", id:"user-password"%>

    <div class="login__hover-action">
      <span class='login-btn__normal'>ログイン</span>
      <span><%= f.submit "ログイン", class: 'login-btn__hover' %></span>
    </div>
  <% end %>

  <div class="sign-up-link__hover-action">
    <%= link_to "新規登録", new_registration_path(resource_name), class: 'sign-up-link'%>
  </div>

  <div class="sign-up-link__hover-action">
    <%= link_to 'かんたんログイン', testsessions_path, method: :post, class: 'sign-up-link' %>
  </div>

</div>

