<aside >
  <nav>
    <ul class="nav-lists">
      <% if user_signed_in? %>
        <% unless current_user.profile == nil %>
          <% if current_user.profile.image? %>
              <p><%= image_tag(current_user.profile.image.thumb50.url)%></p>
          <% end %>
        <% end %>
        <li class="bottom-nav"><%= current_user.nickname %></li>
        <li class="bottom-nav"><%= link_to 'マイページ', user_path(current_user) %></li>
        <li class="bottom-nav"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="bottom-nav"><%= link_to 'ログイン', new_user_session_path %></li>
        <li class="bottom-nav"><%= link_to '新規登録', new_user_registration_path %></li>
        <li class="bottom-nav">
        <%= link_to 'かんたんログイン', testsessions_path, method: :post %>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>