<div class="header-line">
  <header>

    <div class="header-left">
      <%= link_to root_path, class: "link-to__top-page" do %>
        <div class="app-name">Forte</div>
      <% end %>
      <div class="search-form">
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
          <span class="fa-stack">
            <%= form.text_field :keyword, placeholder:"キーワードを入力", class: "search-input fa-lg fa-stack-2x" ,style:"width: 25vw; padding: 5px 5px 5px 32px; font-size: 1em; text-align: left;" %>
            <i class="fas fa-search fa-lg fa-stack-1x" style="font-size: 1em;"></i>
          </span>
          <%= form.submit "検索", type: "hidden", class: "search-btn" %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <% unless current_page?(notifications_path) %>
          <%= link_to(notifications_path) do %>
            <span class="fa-stack bell-position">
              <i class="far fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em;" ></i>
              <% if unchecked_notifications.any? %>
              <% else %>
                <i class="fas fa-circle n-circle fa-stack-1x" style="font-size: 0.8em;" ></i>
              <% end %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="header-right">
      <% if user_signed_in? %>
        <div class="more-test">
        <span class="more-test-nickname"><%= current_user.nickname %></span>
      <div class="more">
        <div class="hover-icons">
          <% unless current_user.profile == nil %>
            <% if current_user.profile.image? %>
                <%= image_tag(current_user.profile.image.thumb50.url)%>
            <% end %>
          <% else %>
            <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
          <% end %>
          <%= image_tag "arrow_top.png"%>
        </div>
        <ul class="more_list">
            <li>
              <%= link_to 'マイページ', user_path(current_user), class: "my-page" %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log-out" %>
            </li>
          </ul>
        </div>
        </div>
      <% else %>
      <div class="header-right__hover-action">
        <%= link_to '簡単ログイン', testsessions_path, class:"header-right__action", method: :post %>
      </div>
      <div class="header-right__hover-action">
        <%= link_to 'ログイン', new_user_session_path, class:"header-right__action" %>
      </div>
      <div class="header-right__hover-action">
        <%= link_to '新規登録', new_user_registration_path, class:"header-right__action" %>
      </div>
      <% end %>
    </div>
  </header>
</div>