<div class="header-line">
  <header>

    <div class="header-left">
      <%= link_to root_path, class: "link-to__top-page" do %>
        <div class="app-name">Trace</div>
      <% end %>
      <div class="search-form">
        <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "ðŸ”", class: "search-input" %>
          <%= form.submit "æ¤œç´¢", type: "hidden", class: "search-btn" %>
        <% end %>
      </div>
    </div>

    <div class="header-right">
      <% if user_signed_in? %>
        <div class="more-test">
        <span class="more-test-nickname"><%= current_user.nickname %></span>
      <div class="more">
        <div class="hover-icons">
          <% unless current_user.profile == nil %>
            <% if current_user.profile.image? %>
                <%= image_tag(current_user.profile.image.thumb50.url)%>
            <% end %>
          <% else %>
            <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
          <% end %>
          <span><%= image_tag 'arrow_top.png' %></span>
        </div>
        <ul class="more_list">
            <li>
              <%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', user_path(current_user), class: "my-page" %>
            </li>
            <li>
              <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class: "log-out" %>
            </li>
          </ul>
        </div>
        </div>
      <% else %>
        <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path %>
        <%= link_to 'æ–°è¦ç™»éŒ²', new_user_registration_path %>
        <%= link_to 'ã‹ã‚“ãŸã‚“ãƒ­ã‚°ã‚¤ãƒ³', testsessions_path, method: :post %>
      <% end %>
    </div>
  </header>
</div>