<% messages = question.messages %>
<% if messages[0] %>
  <% messages.size.times do |i| %>
    <div class="main-content">
      <div class="icons-space">
        <%= link_to user_path(messages[i].user) do %>
          <% profile = messages[i].user.profile %>
          <% if profile %>
            <% if profile.image? %>
              <%= image_tag(profile.image.thumb50.url, class: "question-user-icon")%>
            <% end %>
          <% else %>
            <% if messages.size == 1 %>
              <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
            <% else %>
              <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="question-texts">
        <div class="question-nickname">
          <%= messages[i].user.nickname %>
        </div>
        <div class="question-sentence">
          <% if i == 0 %>
            <div class="question-Q">
              <i class="fab fa-quora"></i>.
            </div>
          <% else %>
            <div class="question-A">
              <%= "A." %>
            </div>
          <% end %>
          <div class="question-content">
            <%= safe_join("#{messages[i].content}".split("\n"),tag(:br))%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>