<div class="content">
  <%= render partial: "rooms/one_game_tag", locals: { question: question } %>
  <div class="room-name">
    <div class="title-line">
      <div class="question-title">
        <%= question.question_title %>
      </div>
      <div class="question-birth">
        <% birth = question.created_at%>
        <%= "#{birth.year}/#{birth.month}/#{birth.day}"%>
      </div>
    </div>
    <div class="panel"> <%# ↓モーダルに関する記述の始まり%>
      <% if question.messages.size == 1 && question.messages[0].user != current_user %>
          <%= render partial: "rooms/one_question", locals: { question: question } %>
      <% else %>
        <div class="c-btn js-open-modal"> <%# ↓モーダル画面を表示する判定の始まり%>
          <%= render partial: "rooms/one_question", locals: { question: question } %>
        </div> <%# ↑モーダル画面を表示する判定の終わり%>
      <% end %>
      <% if question.messages.size == 1 && question.messages[0].user != current_user %> 
        <div class="main-content">
          <div class="icons-space">
            <%= link_to user_path(question.entries[0].user) do %>
              <% profile_0 = question.entries[0].user.profile %>
              <% if profile_0 %>
                <% if profile_0.image? %>
                  <%= image_tag(profile_0.image.thumb50.url, class: "question-user-icon")%>
                <% end %>
              <% else %>
                <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
              <% end %>
            <% end %>
          </div>
          <% if current_page?("/users/#{params[:id]}/") %>
            <div class="question-texts">
              <div class="question-nickname">
                <%= question.entries[0].user.nickname %>
              </div>

              <div class="question-sentence">
                <div class="question-A">
                  <%= "A." %>
                </div>
                <div class="question-content">
                  <span class="no-answer-text"><%= "まだ回答はありません" %></span>
                </div>
              </div>
            </div>
          <% else %>
            <div>
              <div id="error-lists-answer">
                <div id="error-answer">
                </div>
              </div>
              <div id="list-answer">
              </div>
              <%= form_with(url: messages_path, model: @message, local: true, method: :post, id: 'form-answer') do |f| %>
                <%= f.text_area :content, class: 'answer__room_content', id: "content-answer" %>
                <input name="room_id" type="hidden" value=<%= question.id %>>
                <%= f.submit '回答' , class: 'answer-btn', id: "submit-answer" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="modal-panel-back disable"> <%# ↓隠れているモーダル画面の始まり%>
        <div class="modal-panel">
          <%= render partial: "rooms/one_game_tag", locals: { question: question } %>
          <div class="question-title">
            <%= question.question_title %>
          </div>
          <%= render partial: "rooms/one_question", locals: { question: question } %>
        </div>
      </div> <%# ↑隠れているモーダル画面の終わり%>
    </div> <%# ↑モーダルに関する記述の終わり%>

    <div class="question-option">
      <div class="like">
        <div id="like-btn-<%= question.id %>">
          <%= render partial: "likes/like", locals: { room: question } %>
        </div>
      </div>
      <% question.messages.size.times do |i| %>
        <% if question.messages[i].user == current_user %>
          <%= link_to room_path(question), method: :delete , class: "delete-btn" do %>
            <i class="fas fa-trash"></i>
          <% end %>
          <% break %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>