<div class="animate__animated animate__bounceInLeft">
  <div class="room">
    <div class="room-name">
        <div class="like"></div>
        <div class="question-title">
          <%= question.question_title %>
        </div>
        <% question.game_tags.each do |game| %>
          <%=  "[ゲームタイトル(タグ)]#{game.game_title}" %>
        <% end%>
        <div class="question-contents">
              <% if question.messages.size == 1 && question.messages[0].user == current_user %> <%# 自分が登録した質問%>
                <ul class="question-lists">
                  <li>
                  <% unless question.messages[0].user.profile == nil %>
                    <% if question.messages[0].user.profile.image? %>
                      <div >
                        <p><%= image_tag(question.messages[0].user.profile.image.thumb50.url)%></p>
                      </div>
                    <% end %>
                  <% else %>
                    <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
                  <% end %>
                  </li>
                  <li><%= safe_join("[質問文][#{question.messages[0].user.nickname}]#{question.messages[0].content}".split("\n"),tag(:br))%></li>
                </ul>
              <% elsif question.messages.size == 1 %> <%# 自分宛ての質問だよ！%>
                <ul class="question-lists">
                  <li>
                    <div class="more">
                      <span>
                        <% unless question.messages[0].user.profile == nil %>
                          <% if question.messages[0].user.profile.image? %>
                            <div >
                              <p><%= image_tag(question.messages[0].user.profile.image.thumb50.url)%></p>
                            </div>
                          <% end %>
                        <% else %>
                          <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
                        <% end %>
                      </span>
                      <ul class="more_list">
                        <li>
                          <%= link_to "#{question.messages[0].user.nickname}の詳細ページ", user_path(question.messages[0].user) %>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li><%= safe_join("[質問文][#{question.messages[0].user.nickname}]#{question.messages[0].content}".split("\n"),tag(:br))%></li>
                </ul>
                <ul class="question-lists">
                  <li>
                    <% unless current_user.profile == nil %>
                      <% if current_user.profile.image? %>
                        <div >
                          <p><%= image_tag(current_user.profile.image.thumb50.url) %></p>
                        </div>
                      <% end %>
                    <% else %>
                      <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
                    <% end %>
                  </li>
                  <div id="error-lists-answer">
                    <div id="error-answer">
                    </div>
                  </div>
                  <div id="list-answer">
                  </div>
                  <%= form_with(url: messages_path, model: @message, local: true, method: :post, id: 'form-answer') do |f| %>
                    <%= f.text_area :content, placeholder: 'type a message', id: "content-answer" %>
                    <input name="room_id" type="hidden" value=<%= question.id %>>
                    <%= f.submit '回答する!' , id: "submit-answer" %>
                  <% end %>
                </ul>
              <% elsif question.messages.size == 2 && question.messages[1].user == current_user %> <%# 自分が回答した質問！ えらい！天才！！%>
                <ul class="question-lists">
                  <li>
                    <div class="more">
                      <span>
                        <% unless question.messages[0].user.profile == nil %>
                          <% if question.messages[0].user.profile.image? %>
                            <div >
                              <p><%= image_tag(question.messages[0].user.profile.image.thumb50.url)%></p>
                            </div>
                          <% end %>
                        <% else %>
                          <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
                        <% end %>
                      </span>
                      <ul class="more_list">
                        <li>
                          <%= link_to "#{question.messages[0].user.nickname}の詳細ページ", user_path(question.messages[0].user) %>
                      </ul>
                    </div>
                  </li>
                  <li><%= safe_join("[質問文][#{question.messages[0].user.nickname}]#{question.messages[0].content}".split("\n"),tag(:br))%></li>
                </ul>
                <ul class="question-lists">
                  <li>
                    <% unless question.messages[1].user.profile == nil %>
                      <% if question.messages[1].user.profile.image? %>
                        <div >
                          <p><%= image_tag(question.messages[1].user.profile.image.thumb50.url) %></p>
                        </div>
                      <% end %>
                    <% else %>
                      <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
                    <% end %>
                  </li>
                  <li><%= "[回答文][#{question.messages[1].user.nickname}]#{question.messages[1].content}"%></li>
                </ul>
              <% elsif question.messages.size == 2 && question.messages[0].user == current_user %> <%# 自分が登録した質問に回答がもらえた！ 感謝！ギフトしよう！！%>
                <ul class="question-lists">
                  <li>
                    <% unless current_user.profile == nil %>
                      <% if current_user.profile.image? %>
                        <div >
                          <p><%= image_tag(current_user.profile.image.thumb50.url) %></p>
                        </div>
                      <% end %>
                    <% else %>
                      <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
                    <% end %>
                  </li>
                  <li><%= safe_join("[質問文][#{question.messages[0].user.nickname}]#{question.messages[0].content}".split("\n"),tag(:br))%></li>
                </ul>
                <ul class="question-lists">
                  <li>
                    <div class="more">
                      <span>
                        <% unless question.messages[1].user.profile == nil %>
                          <% if question.messages[1].user.profile.image? %>
                            <div >
                              <p><%= image_tag(question.messages[1].user.profile.image.thumb50.url) %></p>
                            </div>
                          <% end %>
                        <% else %>
                          <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
                        <% end %>
                      </span>
                      <ul class="more_list">
                        <li>
                          <%= link_to "#{question.messages[1].user.nickname}の詳細ページ", user_path(question.messages[1].user) %>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li><%= safe_join("[回答文][#{question.messages[1].user.nickname}]#{question.messages[1].content}".split("\n"),tag(:br))%></li>
                </ul>
              <% end %>
        </div>
    </div>
  </div>
</div>