<div class="content">

<%# ここから！　ゲームタグ！ %>
  <div class="index">
    <div class="index__game_tag">
      <% unless question.game_tags[0] == nil %>
        <%= question.game_tags[0].game_title %>
      <% else %>
        <%= "test_tag" %>
      <% end %>
    </div>
    <div class="index__triangle"></div>
  </div>
<%# ここまで！　ゲームタグ！ %>

  <div class="room-name">
    <div class="question-title">
      <%= question.question_title %>
    </div>

    <div class="question-space">

      <% if question.messages.size == 1 && question.messages[0].user == current_user %> <%# 自分が登録した質問%>
        <div class="question-lists">
          <div class="icons-space">
          <%= link_to user_path(current_user) do %>
            <% unless current_user.profile == nil %>
              <% if current_user.profile.image? %>
                <%= image_tag(current_user.profile.image.thumb50.url, class: "question-user-icon")%>
              <% end %>
            <% else %>
              <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
            <% end %>
          <% end %>
          </div>
          
          <div class="question-message-set">
            <div class="question-user-nickname">
              <%= current_user.nickname %>
            </div>

            <div class="question-sentence">
              <div class="question-sentence-Q">
                <%= "Q." %>
              </div>
              <div class="question-sentence-message">
                <%= safe_join("#{question.messages[0].content}".split("\n"),tag(:br))%>
              </div>
            </div>
          </div>
        </div>

        <div class="like"></div>

      <% elsif question.messages.size == 1 %> <%# 自分宛ての質問だよ！%>
        <div class="question-lists">
          <div class="icons-space">
            <%= link_to user_path(question.messages[0].user) do %>
              <% unless question.messages[0].user.profile == nil %>
                <% if question.messages[0].user.profile.image? %>
                  <%= image_tag(question.messages[0].user.profile.image.thumb50.url, class: "question-user-icon")%>
                <% end %>
              <% else %>
                <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
              <% end %>
            <% end %>
          </div>

          <div class="question-message-set">
            <div class="question-user-nickname">
              <%= question.messages[0].user.nickname %>
            </div>

            <div class="question-sentence">
              <div class="question-sentence-Q">
                <%= "Q." %>
              </div>
              <div class="question-sentence-message">
                <%= safe_join("#{question.messages[0].content}".split("\n"),tag(:br))%>
              </div>
            </div>
          </div>
        </div>

        <div class="question-lists">
          <div class="icons-space__answer">
            <%= link_to user_path(question.messages[0].user) do %>
              <% unless current_user.profile == nil %>
                <% if current_user.profile.image? %>
                  <%= image_tag(current_user.profile.image.thumb50.url, class: "question-user-icon")%>
                <% end %>
              <% else %>
                <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
              <% end %>
            <% end %>
          </div>

          <div id="error-lists-answer">
            <div id="error-answer">
            </div>
          </div>
          <div id="list-answer">
          </div>
          <%= form_with(url: messages_path, model: @message, local: true, method: :post, id: 'form-answer') do |f| %>
            <%= f.text_area :content, placeholder: 'type a message', id: "content-answer" %>
            <input name="room_id" type="hidden" value=<%= question.id %>>
            <%= f.submit '回答する!' , id: "submit-answer" %>
          <% end %>
        </div>

        <div class="like"></div>

      <% elsif question.messages.size == 2 && question.messages[1].user == current_user %> <%# 自分が回答した質問！ えらい！天才！！%>
        <div class="question-lists">
          <div class="icons-space">
          <%= link_to user_path(question.messages[0].user) do %>
            <% unless question.messages[0].user.profile == nil %>
              <% if question.messages[0].user.profile.image? %>
                <%= image_tag(question.messages[0].user.profile.image.thumb50.url, class: "question-user-icon")%>
              <% end %>
            <% else %>
              <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
            <% end %>
          <% end %>
          </div>
          
          <div class="question-message-set">
            <div class="question-user-nickname">
              <%= question.messages[0].user.nickname %>
            </div>

            <div class="question-sentence">
              <div class="question-sentence-Q">
                <%= "Q." %>
              </div>
              <div class="question-sentence-message">
                <%= safe_join("#{question.messages[0].content}".split("\n"),tag(:br))%>
              </div>
            </div>
          </div>
        </div>

        <div class="question-lists">
          <div class="icons-space__answer">
            <%= link_to user_path(question.messages[0].user) do %>
              <% unless current_user.profile == nil %>
                <% if current_user.profile.image? %>
                  <%= image_tag(current_user.profile.image.thumb50.url, class: "question-user-icon")%>
                <% end %>
              <% else %>
                <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
              <% end %>
            <% end %>
          </div>

          <div class="question-message-set">
            <div class="question-user-nickname">
              <%= question.messages[1].user.nickname %>
            </div>

            <div class="question-sentence">
              <div class="question-sentence-A">
                <%= "A." %>
              </div>
              <div class="question-sentence-message">
                <%= safe_join("#{question.messages[1].content}".split("\n"),tag(:br))%>
              </div>
            </div>
          </div>
        </div>

        <div class="like"></div>

      <% elsif question.messages.size == 2 && question.messages[0].user == current_user %> <%# 自分が登録した質問に回答がもらえた！ 感謝！ギフトしよう！！%>
        <div class="question-lists">
          <div class="icons-space">
          <%= link_to user_path(current_user) do %>
            <% unless current_user.profile == nil %>
              <% if current_user.profile.image? %>
                <%= image_tag(current_user.profile.image.thumb50.url, class: "question-user-icon")%>
              <% end %>
            <% else %>
              <%= image_tag "question_user_icon.png", class:"question-user-icon" %>
            <% end %>
          <% end %>
          </div>

          <div class="question-message-set">
            <div class="question-user-nickname">
              <%= question.messages[0].user.nickname %>
            </div>

            <div class="question-sentence">
              <div class="question-sentence-Q">
                <%= "Q." %>
              </div>
              <div class="question-sentence-message">
                <%= safe_join("#{question.messages[0].content}".split("\n"),tag(:br))%>
              </div>
            </div>
          </div>
        </div>
        
        <div class="question-lists">
          <div class="icons-space__answer">
            <%= link_to user_path(question.messages[1].user) do %>
              <% unless question.messages[1].user.profile == nil %>
                <% if question.messages[1].user.profile.image? %>
                  <%= image_tag(question.messages[1].user.profile.image.thumb50.url, class: "question-user-icon")%>
                <% end %>
              <% else %>
                <%= image_tag "answer_user_icon.png", class:"answer-user-icon" %>
              <% end %>
            <% end %>
          </div>

          <div class="question-message-set">
            <div class="question-user-nickname">
              <%= question.messages[1].user.nickname %>
            </div>

            <div class="question-sentence">
              <div class="question-sentence-A">
                <%= "A." %>
              </div>
              <div class="question-sentence-message">
                <%= safe_join("#{question.messages[1].content}".split("\n"),tag(:br))%>
              </div>
            </div>
          </div>
        </div>

        <div class="like"></div>
      <% end %>
    </div>
  </div>
</div>