  <div class='question-form'>
    <h1>新しく質問する</h1>
    <%= form_with(url: rooms_path, model: @room, local: true, method: :post, id: 'form') do |f| %>
    <div id="error-lists">
      <div id="error">
      </div>
    </div>
    <%= render 'error_messages', room: @room %> 
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <%= f.text_field :question_title, class: 'question__room_name question-form__input', placeholder: '質問タイトルを入力してね！', id: "question_title"%>
        </div>
      </div>
      <div class='question-form__field'>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <select name="room[user_ids][]", id="user">
            <option value="">回答して欲しいユーザーを選んでね！</option>
            <% User.all.where.not(id: current_user.id).each do |user| %>
              <option value=<%=user.id%>><%= user.nickname %></option>
            <% end %>
          </select>
          <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
        </div>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <select name="room[game_tag_ids][]", id="game-tag">
            <option value="">ゲームタイトルを選んでね！</option>
            <% GameTag.all.each do |tag| %>
              <option value=<%=tag.id%>><%= tag.game_title %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <%= f.text_area :content, class: 'question__room_name question-form__input', placeholder: '質問本文を入力してね！' , id: "content"%>
        </div>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <%= f.submit value="Create Question", class: 'question-btn', id: "submit" %>
        </div>
      </div>
    <% end %>
  </div>