  <div class='question-form'>
    <%= form_with(url: rooms_path, model: @room, local: true, method: :post, id: 'form') do |f| %>
    <div id="error-lists">
      <div id="error">
      </div>
    </div>
    <%= render 'error_messages', room: @room %> 
    <div class='question-form__pulldown'>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <select name="room[user_ids][]", id="user", class="question-answer__choose">
            <option value="">回答して欲しいユーザー</option>
            <% User.all.where.not(id: current_user.id).each do |user| %>
              <option value=<%=user.id%>><%= user.nickname %></option>
            <% end %>
          </select>
          <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
        </div>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <select name="room[game_tag_ids][]", id="game-tag", class="question-game-tag__choose">
            <option value="">ゲームタイトル</option>
            <% GameTag.all.each do |tag| %>
              <option value=<%=tag.id%>><%= tag.game_title %></option>
            <% end %>
          </select>
        </div>
      </div>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <%= f.text_field :question_title, class: 'question__room_name', placeholder: '質問タイトル', id: "question_title"%>
        </div>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <%= f.text_area :content, class: 'question__room_content', placeholder: '質問本文' , id: "content"%>
        </div>
      </div>
      <div class='question-form__field'>
        <div class='question-form__field--right'>
          <%= f.submit value="質問", class: 'question-btn', id: "submit" %>
        </div>
      </div>
    <% end %>
  </div>