<div class="top-page__space">
  <div class="top-page-image__space">
    <%= image_tag "top-page-image.jpg", class: "top-page-image" %>
  </div>
  <div class="top-title__space" >
    Forte
  </div>
  <div class="top-content__space" >
    「もっと強くなりたい」 <br>
    強さを求めるゲーマーへ向けた、一問一答サービスです<br>
  </div>
  <div class="easy-login__space" >
    <div class="header-right__hover-action easy-login__btn">
      <%= link_to '簡単ログイン', testsessions_path, class:"header-right__action", method: :post %>
    </div>
  </div>
  <div class="login-and-registration__space" >
    <div class="header-right__hover-action normal-login__btn">
      <%= link_to 'ログイン', new_user_session_path, class:"header-right__action" %>
    </div>
    <div class="header-right__hover-action normal-login__btn">
      <%= link_to '新規登録', new_user_registration_path, class:"header-right__action" %>
    </div>
  </div>

  <div class="what-this-app__space">
  What is Forte?
  </div>
  <div class="top-function-descriptions__space">
   <div class="top-question-description__space">
      <div>質問</div>
      <%= image_tag "top-sample-question.png", class: "top-sample-image" %>
   </div>
   
   <div class="top-question-description__space">
      <div>金銭的サポート</div>
      <%= image_tag "top-sample-gift.png", class: "top-sample-image" %>
   </div>
  </div>


</div>