<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>Forte</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <%= render "shared/header" %> 
        <h1>top page</h1>
        <div class="all-contents">
            <nav>left</nav>
            <main>
        <% if user_signed_in? %>
            <p>--------------------あなたに関連する質問です！--------------------</p>
            <% @questions.each do |question| %>
                <div class="room">
                    <div class="room-name">
                        <div class="question-title">
                          <%= question.question_title %>
                        </div>
                        <% check = 0 %>
                        <div class="question-contents">
                            <% question.messages.includes(:user).each do |message| %>
                              <% check += 1 %>
                              <% if check == 1 && message.user == current_user %> <%# 自分が登録した質問%>
                                <ul class="question-lists">
                                  <li><%= image_tag "question_user_icon.png", class:"question-user-icon" %></li>
                                  <li><%= "[質問文][#{message.user.nickname}]#{message.content}"%></li>
                                </ul>
                              <% elsif check == 1 %> <%# 自分宛ての質問だよ！%>
                                <ul class="question-lists">
                                  <li>
                                    <div class="more">
                                      <span><%= image_tag "question_user_icon.png", class:"question-user-icon" %></span>
                                      <ul class="more_list">
                                        <li>
                                          <%= link_to 'ギフトする！', user_gifts_path(message.user) %>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                  <li><%= "[質問文][#{message.user.nickname}]#{message.content}"%></li>
                                </ul>
                                <ul class="question-lists">
                                  <li><%= image_tag "answer_user_icon.png", class:"answer-user-icon" %></li>
                                  <li><%= link_to '回答する！', room_messages_path(question) %></li>
                                </ul>
                              <% elsif check == 2 && message.user == current_user %> <%# 自分が回答した質問！ えらい！天才！！%>
                                <ul class="question-lists">
                                  <li><%= image_tag "answer_user_icon.png", class:"answer-user-icon" %></li>
                                  <li><%= "[回答文][#{message.user.nickname}]#{message.content}"%></li>
                                </ul>
                              <% elsif check == 2 %> <%# 自分が登録した質問に回答がもらえた！ 感謝！ギフトしよう！！%>
                                <ul class="question-lists">
                                  <li>
                                    <div class="more">
                                      <span><%= image_tag "answer_user_icon.png", class:"answer-user-icon" %></span>
                                      <ul class="more_list">
                                        <li>
                                          <%= link_to 'ギフトする！', user_gifts_path(message.user) %>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                  <li><%= "[回答文][#{message.user.nickname}]#{message.content}"%></li>
                                </ul>
                                <%= link_to "#{message.user.nickname}にギフトする", user_gifts_path(message.user) %>
                              <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
            <p>-----------------------------------------------------------------------------</p>
        <% else %>
            <%= link_to "＼！！質問する！！／", new_user_session_path %>
        <% end %>
            
            <p>↓↓新着の質問↓↓</p>
            <% @another_questions .each do |question| %>
                <div class="room">
                    <div class="room-name">
                        <div class="question-title">
                          <%= question.question_title %>
                        </div>
                        <% check = 0 %>
                        <div class="question-contents">
                          <% question.messages.includes(:user).each do |message| %>
                            <% check += 1 %>
                            <% if check == 1 %>
                              <ul class="question-lists">
                                <li>
                                    <div class="more">
                                      <span><%= image_tag "question_user_icon.png", class:"question-user-icon" %></span>
                                      <ul class="more_list">
                                        <li>
                                          <%= link_to 'ギフトする！', user_gifts_path(message.user) %>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                <li><%= "[質問文][#{message.user.nickname}]#{message.content}"%></li>
                              </ul>
                            <% elsif check == 2 %>
                              <ul class="question-lists">
                                <li>
                                  <div class="more">
                                    <span><%= image_tag "answer_user_icon.png", class:"answer-user-icon" %></span>
                                    <ul class="more_list">
                                      <li>
                                        <%= link_to 'ギフトする！', user_gifts_path(message.user) %>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                                <li><%= "[回答文][#{message.user.nickname}]#{message.content}"%></li>
                              </ul> 
                            <% else %>
                              <p><%= "----------[#{message.user.nickname}]#{message.content}"%></p> <%# 1つのルームにメッセージが3つ以上保存されてたら、3つ目以降も表示される！本番はいらないやつ！！！ %>
                            <% end %>
                          <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
            </main>
            <aside>right</aside>
        </div>
        <div class='purchase-btn'>
          <span class='purchase-btn-text'>質問する</span>
            <% if user_signed_in? %>
                <%= link_to image_tag('question.png' , size: '185x50' ,class: "purchase-btn-icon"), new_room_path %>
            <% else %>
              <%= link_to image_tag('question.png' , size: '185x50' ,class: "purchase-btn-icon"), new_user_session_path %>
            <% end %>
        </div>

        <%= render "shared/footer" %> 
    </body>
</html>
