<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Forte</title>
  </head>

  <body>
    <%= render partial: "navigation_menu" %>
    <main>
      <% if user_signed_in? %>
        <p><%= "#{current_user.nickname}さんに関連する質問" %></p>
        <div id="list">
        </div>
        <% @questions.each do |question| %>
          <%= render partial: "questions", locals: { question: question } %>
        <% end %>
      <% end %>
      <p><%= "新着の質問" %></p>
      <% @another_questions.each do |question| %>
        <%= render partial: "questions", locals: { question: question } %>
      <% end %>
    </main>
  </body>
</html>
