<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">

    <script>
        $(function(){
            $('.js-open-modal').on('click', function(){
                $(this).next().removeClass('disable');
            });
            $('.js-close-modal').on('click', function(e){
                e.preventDefault();
                $(this).parents('.modal-panel-back').addClass('disable');
            })
        })

        $(function(){
            $('.modal-panel-back').on('click', function(){
                  $(this).addClass('disable');
              })
        })
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
